@use '../../lib/service.scss' as s;
.heading {
  display: flex;
  flex-direction: column;
  gap: s.space(4);
}

.heading__title {
  font-size: 24px;
  color: #000;

}

.heading__info {
  font-size: 16px;
  color: #000;
}