@use '../../lib/service.scss' as s;

@use '../../lib/spotify.scss' as spotify;


a {
  text-decoration: none;
  color: inherit;

  transition: 0.6s;

  &:hover {
    opacity: 0.6s;
  }
}

.main {
  background-color: s.color(dark);

  height: 100%;

  color: s.color(light);

  display: flex;
  justify-content: center;
  
  padding: s.space(6) s.space(2);
}

.header {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  gap: s.space(15);
  justify-content: space-between;
}

.header__icon {
  display: flex;
  gap: s.space(10);
 
}

.title {
  font-size: 24px;
}

.title--center {
  text-align: center;
}

.choose {
  display: grid;
  gap: s.space(6);
}

.choose__item {
  display: grid;
  grid-template-columns: 56px 1fr;
  gap: s.space(6);
}

.choose_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

