@use '../../lib/service.scss' as s;

main {
  display: flex;
  padding: s.space(4);
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: s.color('primary');

  margin-bottom: s.space(2);
}


.product-create {
  display: flex;
  flex-direction: column;
  align-content: space-between;

  padding: s.space(4);
  border: 1px solid s.color('light');
  border-radius: 7px;
  box-shadow: 1px 1px 4px 1px rgb(213, 212, 212);
  width: 700px;
  height: max-content;
  
}

.product-create__title {
  font-size: 18px;
  margin-bottom: 10px;
  
}

.product-create__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: s.space(4); 
  padding-bottom: s.space(2); 
}

.product-create__description > input {
  display: grid;
  height: s.space(25);
  
  
}


.product-input {
  display: grid;
  flex-direction: column;
  gap:s.space(1);
}

input {
  border: 1px solid s.color('light');
  padding: s.space(1);
}

p {
  font-size: 12px;
  color: gray;
  margin-bottom: s.space(3);
}

button {
  display: inline-block;
    padding: s.space(2) ;   
    background-color: s.color('primary');
    border-radius: 5px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    
    
    color: white;
}
